* {
    margin: 0;
    padding: 0;
}
/* Aqui quem ficou com o MENU poderá adcionar atributos css a vontade até o comentario
OBS: Seu escopo de código  */

.menu{
    width: 100%;
    height: 54px;
    background-color: #004085;
    font-family: Arial ;
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float: left;
}
.menu a{
    font-size: 20px;
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #004085;
    color: #fff;
}
.menu a:hover{
    background-color: #f4f4f4;
    color: #555;
}
#img{
    margin-left: 30px
}
label[for="bt_menu"]{
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
#bt_menu{
    display: none;
}
label[for="bt_menu"]{
    display: none;
}
@media(max-width: 800px){
    label[for="bt_menu"]{
        display: block;
    }
    .menu{
        margin-top: 5px; 
    }
    .menu ul li{
        width: 100%;
        float: none;
    }  
}


/* Fim do menu */

/* Aqui quem ficou com o CONTENT poderá adcionar atributos css a vontade até o comentario
OBS: Seu escopo de código  */
.content {
    height: auto;
}
.content #div1{
    background-color: #263238;
    color: #3ddc8d;
}
#div1 p{
    width: 600px;
}

#center{
    font-family: "Lato",sans-serif;
    text-align: center!important;
    color: white;
    display: flex;
    padding: 80px;
    font-size: 2rem;
    font-weight: 300px;
    justify-content: center;
}

#center p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content #div2 {
    width:  auto;
    height: auto;
    border: 1px solid black;
    display: -webkit-flex;
    display: flex;
}

.content #div2 div{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#manufatura {
    text-align: center;
    background-color: rgba(76,199,236,0.9)
}

#manufatura div{
    display: block;
}

#manufatura h1{
    margin-top: 50px;
}
#manufatura img{
    width: 35%;
    margin-top: 50px
}

.cd-modal-action{
    position: relative;
}

.btn{
    cursor: pointer;
}
.btn:before{
    content: "+";
    font-family: "Exo",sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 3rem;
    line-height: 48px;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

.btn:after{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    border: 0px solid #fff;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

/* Fim de CONTENT */

/* Aqui quem ficou com o menu poderá adcionar atributos css a vontade até o comentario
OBS: Seu escopo de código  */
.footer{

}


/* Fim de FOOTER */